<%-include('includes/head',{pageTitle:'An Error occured'})%>
</head>
<body>
    <%- include('includes/header')%>
    <main>
        <h1>Could not find the requested resource</h1>
        <p>Unfortunately we could not find the requested resource</p>
        <p><a href="/" class="btn">Back to safety</a></p>
        
    </main>

<%- include('includes/footer')%>

